.odd{
    background-color: #FF474C;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#two{
    color: #0000ff;
    font-size: 36px;
}
.fsize {
    font-size: 24px;
}
#four{
    background-color: #90EE90;
    font-weight: bold;
}